$columns-count: 12;

.container
{
  width: 1400px;
  margin: 0 auto;
}

.row
{
  display: flex;
  flex-wrap: wrap;
}

.col
{
  width: auto;
  display: inline-block;
  padding: 0 15px;
}

@for $i from 1 through 12
{
  .col-#{$i}
  {
	width: calc(100% / 12 * $i);
    display: inline-block;
    padding: 0 15px;
  }
}