// Общие переменные
$border-radius: 5px;
$padding: 10px 15px;

// Цвета для кнопок
$colors: (
	primary: (
		background: #007bff,
		color: #ffffff,
		border: #007bff,
	),
	secondary: (
		background: #6c757d,
		color: #ffffff,
		border: #6c757d,
	),
	success: (
		background: #28a745,
		color: #ffffff,
		border: #28a745,
	),
	danger: (
		background: #dc3545,
		color: #ffffff,
		border: #dc3545,
	),
	warning: (
		background: #ffc107,
		color: #212529,
		border: #ffc107,
	),
	info: (
		background: #17a2b8,
		color: #ffffff,
		border: #17a2b8,
	),
	light: (
		background: #f8f9fa,
		color: #212529,
		border: #f8f9fa,
	),
	dark: (
		background: #343a40,
		color: #ffffff,
		border: #343a40,
	),
	purple: (
		background: #6f42c1,
		color: #ffffff,
		border: #6f42c1,
	),
	teal: (
		background: #20c997,
		color: #ffffff,
		border: #20c997,
	),
	pink: (
		background: #e83e8c,
		color: #ffffff,
		border: #e83e8c,
	),
	orange: (
		background: #fd7e14,
		color: #ffffff,
		border: #fd7e14,
	),
	navy: (
		background: #001F3F,
		color: #ffffff,
		border: #001F3F,
	),
	brown: (
		background: #a52a2a,
		color: #ffffff,
		border: #a52a2a,
	),
	gold: (
		background: #ffd700,
		color: #212529,
		border: #ffd700,
	)
);

// Миксин для кнопок
@mixin button-style($type) {
  background-color: map-get(map-get($colors, $type), background);
  color: map-get(map-get($colors, $type), color);
  border: 1px solid map-get(map-get($colors, $type), border);
  border-radius: $border-radius;
  padding: $padding;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  // Состояние наведения
  &:hover {
	background-color: darken(map-get(map-get($colors, $type), background), 10%);
	color: lighten(map-get(map-get($colors, $type), color), 10%);
  }

  // Состояние для "disabled"
  &.disabled,
  &:disabled {
	background-color: grey;
	color: #ffffff;
	border: 1px solid grey;
	cursor: not-allowed;
	opacity: 0.65;
  }
}

// Создаем кнопки
.button {
  display: inline-block; // Для a, div и button
  text-align: center;

  &.primary {
	@include button-style(primary);
  }

  &.secondary {
	@include button-style(secondary);
  }

  &.success {
	@include button-style(success);
  }

  &.danger {
	@include button-style(danger);
  }

  &.warning {
	@include button-style(warning);
  }

  &.info {
	@include button-style(info);
  }

  &.light {
	@include button-style(light);
  }

  &.dark {
	@include button-style(dark);
  }

  &.purple {
	@include button-style(purple);
  }

  &.teal {
	@include button-style(teal);
  }

  &.pink {
	@include button-style(pink);
  }

  &.orange {
	@include button-style(orange);
  }

  &.navy {
	@include button-style(navy);
  }

  &.brown {
	@include button-style(brown);
  }

  &.gold {
	@include button-style(gold);
  }
}
