.flex
{
  display: flex;

  &-direction
  {
	&-row { flex-direction: row }
	&-col { flex-direction: column }
	&-row--r { flex-direction: row-reverse }
	&-col--r { flex-direction: column-reverse }
  }

  &-wrap { flex-wrap: wrap }
  &-nowrap { flex-wrap: nowrap }
}



.grid
{
  display: grid;
}

.block
{
  display: block;
}

.inline-block
{
  display: inline-block;
}

dnone
{
  display: none;
}